.card{
    padding: 25px;
    background-color: #787878;
    margin: 15px;
    min-width: 125px;
    min-height: 125px;
    border-radius: 15px;

    .card-inner {
        display: flex;
        flex-direction: column;

        .card-text {
            color: #fff;
            font-family: sans-serif;
            font-size: 30px;
            font-weight: bold;
            text-align: center;

            .card-remove {
                font-size: 20px;
                font-weight: bold;
                color: #000 ;
            }
        }
    }
}