.card-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-generator form {
    display: flex;
    flex-direction: column;
}

.card-generator form input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #000;
}

.card-generator-options {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card-generator form button {
    padding: 10px 25px;
    background: rgb(35, 211, 0);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}